<%- include('../../partials/header.ejs') %>

<div class="container">
    <hr>
    <h2>Categorias</h2>
    <hr>
    <a class="btn btn-success" href="/admin/categories/new">Criar Categoria</a>
    <br><br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th>
                        <button class="btn btn-warning">Editar</button>

                        <form action="/categories/delete" method="POST" style="display: inline;" onsubmit="confirmarDelecao(event, this)">
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button class="btn btn-danger">Excluir</button>
                        </form>
                    </th>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<script>
    function confirmarDelecao(event, form) {
        event.preventDefault();
        var decision = confirm("Você tem certeza que deseja excluir essa categoria?");
        if(decision) {
            form.submit();
        }
    }
</script>

<%- include('../../partials/footer.ejs') %>
